## Lab 1 - `dplyr` examples

In [5]:
options(jupyter.rich_display=FALSE)

In [1]:
library(dplyr)
library(stringr)
load(url("http://alizaidi.blob.core.windows.net/training/taxi_df.RData"))

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
ls()

[1] "taxi_df"

In [3]:
class(taxi_df)

[1] "tbl_df"     "tbl"        "data.frame"

In [ ]:
taxi_df <- taxi_df %>% mutate(tip_pct = tip_amount/fare_amount)

In [6]:
taxi_df

# A tibble: 3,770,319 × 16
   VendorID passenger_count trip_distance RateCodeID store_and_fwd_flag
      <chr>           <int>         <dbl>      <chr>              <chr>
1         1               1          1.80          1                  N
2         1               2          0.90          1                  N
3         1               1          0.90          1                  N
4         1               1          0.30          1                  N
5         2               1          0.96          1                  N
6         2               1          2.01          1                  N
7         2               3          3.14          1                  N
8         1               1          0.50          1                  N
9         2               1          0.67          1                  N
10        2               1         15.20          2                  N
# ... with 3,770,309 more rows, and 11 more variables: payment_type <chr>,
#   fare_amount <dbl>, tip_amount <dbl>, tolls_amount <dbl>, pickup_hour <chr>,
#   pickup_dow <chr>, dropoff_hour <chr>, dropoff_dow <chr>,
#   pickup_nhood <chr>, dropoff_nhood <chr>, kSplits <chr>

## Exploratory Data Analysis - Data Validation
Let's see if we can find out anything about the different numeric fields, `tip_amount` and `fare_amount` and see if we can spot any outliers. 
How should we deal with them?

In [7]:
## Some useful functions

# summary
# quantile
# ggplot() + geom_histogram
# ggplot() + geom_density

## Summarize data by payment type

There is a payment type column that is an label for the type of payment used for the taxi ride.
Let's see if we can find out anything strange about the various payment types.

In [9]:
## some useful functions
# group_by(payment_type) %>% summarise(tip_amount)
# ggplot() + facet_wrap(~payment_type)

## Two-table joins

Let's see examples of the two-table functions in `dplyr`.

In [ ]:
library(broom)
taxi_coefs <- taxi_df %>% sample_n(10^5) %>%
  group_by(dropoff_dow) %>%
  do(tidy(lm(tip_pct ~ pickup_nhood + passenger_count + pickup_hour,
     data = .), conf.int = TRUE)) %>% select(dropoff_dow, conf.low, conf.high)

taxi_metrics <- taxi_df %>% sample_n(10^5) %>%
  group_by(dropoff_dow) %>%
  do(glance(lm(tip_pct ~ pickup_nhood + passenger_count + pickup_hour,
     data = .)))

Use the `left_join` function in `dplyr` to append the model metrics to the coefficients.

# `tidyr`

The `tidyr` package is a very handy package for transforming data that is _wide_ into data that is **tall**.

Take a look at the `tidyr` [cheatsheet](https://www.rstudio.com/wp-content/uploads/2015/02/data-wrangling-cheatsheet.pdf) and try to convert the coeffs data from _tall_ to **wide**